@use "../global" as *;

.fade {
  opacity: 0;
  transition: 0.6s ease-out;
}

.fadeUp {
  opacity: 0;
  transform: translateY(40px);
  transition: 0.6s ease-out;
}

.showElement {
  opacity: 1;
  transform: translate(0,0);
}